
<div class="btn-group-vertical">

    <a class="btn btn-dark" type="button" name="Home" asp-controller="Home" asp-action="Index">Домой</a>
    <h3>Категории</h3>
    @if (ViewBag.Categories != null)
    {
        @foreach (var category in ViewBag.Categories)
        {
            <a class="btn btn-dark" type="button" name="@category.Name" 
               asp-controller="Home" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>
        }
    }

</div>